doctype html
html(lang='en')
    head
        title #{title}
        meta(http-equiv="Content-Type", content="application/xhtml+xml; charset=utf-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", type="text/css", href="/partygate/css/partygate.css")
        script(type="text/javascript", src="/partygate/js/jquery.js")
        script(type="text/javascript", src="/partygate/js/d3.v3.min.js")
        script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
        script(type="text/javascript", src="/qrcode/jquery.qrcode-0.7.0.min.js")
    style.
        body
        {
        background-image: url('/partygate/img/gray.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        }
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    button.btn.btn-navbar pl
        .container
            #page
                h3 #{partyInfo.partyTitle}
                .div Votre code secret est &nbsp;
                    b #{userBillingInfo.partyCode}

                P Notez lee code et présentez le à l'entrer. Valable pour une personne uniquement.

                //
                    hr
                    h4 Bank Transfer
                    pre
                        ul
                            li#price
                            li#iban
                            li#bic
                            li#bank
                            li#owner
                            li Message: #{userBillingInfo.partyCode} - #{userBillingInfo.partyTAG}


                    hr
                    h4 Paypal



                    hr
                    h4 Bitcoin
                    center
                        #bitcoinQR
                        p#bitcoin

    script.
            function disableF5(e) { if (e.which == 116) e.preventDefault(); };
            // To disable f5
            $(document).bind("keydown", disableF5);
            // To re-enable f5
            //$(document).unbind("keydown", disableF5);

            var partyID = '#{partyInfo.partyTAG}';

            //
            //
            //
            console.log(partyID);
            $.getJSON( '/api/party/'+partyID,  function(data){

                //
                // bank info
                //
                $('#price').append('IBAN: '+data.bank.price);
                $('#iban').append('IBAN: '+data.bank.iban);
                $('#bic').append('BIC: '+data.bank.bic);
                $('#name').append('Bank Name: '+data.bank.name);
                $('#recipient').append('recipient: '+data.bank.recipient);
                $('#message').append('message: '+data.bank.recipient);

                //
                // bitcoin info
                //
                $('#bitcoin').append(data.bitcoin);

                var options =  {
                            render: 'canvas',
                            minVersion: 1,
                            maxVersion: 40,
                            ecLevel: 'L',
                            left: 0,
                            top: 0,
                            size: 200,
                            fill: '#000',
                            background: null,
                            text: 'bitcoin:'+data.bitcoin+'?amount=0.0003&label=parano&message=#{userBillingInfo.partyCode}',
                            radius: 0,
                            quiet: 0,
                            mode: 0,
                            mSize: 0.1,
                            mPosX: 0.5,
                            mPosY: 0.5,
                            label: 'no label',
                            fontname: 'sans',
                            fontcolor: '#000',
                            image: null
                        }
                $('#bitcoinQR').qrcode(options);

            });




