doctype html
html(lang='en')
    head
        title #{title}
        meta(http-equiv="Content-Type", content="application/xhtml+xml; charset=utf-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", type="text/css", href="/bootstrap/css/bootstrap-responsive.min.css")
        link(rel="stylesheet", type="text/css", href="/partygate/css/partygate.css")
        script(type="text/javascript", src="/partygate/js/jquery.js")
        script(type="text/javascript", src="/partygate/js/d3.v3.min.js")
        script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
    style.
        body
        {
        background-image: url('/partygate/img/gray.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-attachment: fixed;
        }
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .navbar-inner
                .container
                    button.btn.btn-navbar pl
        .container
            #page
                h3 #{partyInfo.partyTitle}
                p Your Secret Party-Password is
                h4 #{userBillingInfo.partyCode}

                P Please save this code and keep it secret, you will need it at the gate.
                P For activation, please send 20 euro at the bank account below.
                pre
                    ul
                        li Price: 20 euro
                        li IBAN: BE20 6511 4850 2356
                        li BIC : KEYTBEBB
                        li Nom: Holden
                        li Banque : Keytrade
                            li message:  #{userBillingInfo.email} + #{userBillingInfo.partyCode}

                h4 Bitcoin
                p Scan this code with yout bitcoin wallet and paid 0.06 bitcoin (or 20 euro).

                center
                    #bitcoin

        script.
            function disableF5(e) { if (e.which == 116) e.preventDefault(); };
            // To disable f5
            $(document).bind("keydown", disableF5);
            // To re-enable f5
            //$(document).unbind("keydown", disableF5);

            var partyID = '#{partyInfo.partyTAG}';

            console.log(partyID);
            $.getJSON( '/api/party/'+partyID,  function(data){

                $('#bitcoin').append('<img width=150 src=https://blockchain.info/fr/qr?data='+data.bitcoin+' >');
            });






